.custom-row {
    margin-bottom: 2px !important;
  }
  /* 隐藏特定元素的滚动条 */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE 和 Edge */
    scrollbar-width: none;  /* Firefox */
}
